.link-button {
  background-image: url(../images/button.svg);
  width: 260px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  position: relative;
  text-align: center;
  margin: 0 auto;

  a {
    color: $white;
    width: 90%;
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    box-sizing: border-box;
    transition: .2s;
    z-index: 1;

    &::after {
      width: 14px;
      height: 14px;
      content: "";
      transition: .3s;
      display: block;
      border-top: 4px solid $white;
      border-right: 4px solid $white;
      transform: rotate(45deg);
      position: absolute;
      right: 40px;
    }

    &:hover {
      opacity: .6;

      &::after {
        // right: 40px;
      }
    }
  }
}