.page-heading {
  margin-bottom: 48px;
  color: $black;

  @include mq-medium {
    padding: 0 20px;
  }

  @include mq-small {
    padding: 0;
  }

  &-main {
    font-size: 10rem;

    @include mq-medium {
      font-size: 6rem;
    }
  }

  &-sub {
    font-size: 2.4rem;
    display: inline;
    position: relative;

    @include mq-medium {
      font-size: 1.4rem;
    }

    &::before, &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 4px;
      background-color: $black;
      position: absolute;
      top: 14px;
      border-radius: 10px;

      @include mq-medium {
        top: 8px;
      }
    }

    &::before {
      right: calc(100% + 12px);
    }

    &::after {
      left: calc(100% + 12px);
    }
  }
}