.works {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;

  @include mq-medium {
    margin: 0;
  }


  // &-content {
  //   box-sizing: border-box;
  //   max-width: 1080px;
  //   margin: 0 auto;
  //   padding: 0 20px;
  //   width: 100%;

  //   @include mq-medium {
  //     margin: 0;
  //   }
  // }
}